
<div class="col-md-4">
<%=bootstrap_form_for @address do |f|%>
<%= f.text_area :address1%>
<%= f.text_area :address2%>
<%= f.text_field :landmark%>
<%= f.text_field :zipcode %>
<%= f.submit%>
<%end%>
</div>