
<div class="col-md-4">
<%= bootstrap_form_for @offer do |f|%>
<%= f.text_field :offer_name%>
<%= f.text_area :offer_description%>
<%= f.text_field :coupon_code%>
<%= f.text_field :validate_form%>
<%= f.text_field :validate_till%>
<%= f.submit%>
<%end%>
</div>
