


<div class="col-md-4 col-md-offset-2">
<div class="text-center">

<%=link_to"Add category",new_category_path,class: "btn btn-info btn-md"%>
</div>
</br>
<%@categories.each do |category|%>
<div class="col-md-12">
<div class="panel panel-default"> 
<ol>
<li><%= category.category_name%></li>
<li><%= category.category_description%></li>
</ol>
<div class="text-center">
  <td><%= link_to 'Show', category,class: "btn btn-default"%></td>
   <td><%= link_to 'Edit', edit_category_path(category),class: "btn btn-default" %></td>
   <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?'},class: "btn btn-default" %></td>
</div>
</div>
</div>
<%end%>

</div>